body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.videoImageList {
  width: 50%;
  height: 50%;
}

.videoListBox {
  float: left;
  position: relative;
  width: 33%;
}